@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.projects {
  padding: $spacing-xxl 10px;
  
  &__heading {
    text-align: center;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: $spacing-xxxl;
    position: relative;
    font-weight: 800;
    font-size: 2.5rem;
    
    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 4px;
      background-color: #993333; // Burgundy/red color from Experience
      margin: 15px auto 0;
    }
  }

  &__grid {
    display: grid;
    gap: $spacing-xxl;
    
    @include respond-to(md) {
      grid-template-columns: 1fr;
    }
    
    @include respond-to(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }
} 