@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.experience {
  padding: $spacing-xxl $spacing-lg;
  background: none;
  display: flex
  ;
      flex-direction: column;
      align-items: center;

  &__heading {
    text-align: left;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: $spacing-xl;
    font-size: 2rem;
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    position: relative;
    margin-left: 1rem;
    border-left: 3px solid $secondary-color;
  }

  &__item {
    background: $white;
    border-radius: $border-radius-md;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.06);
    padding: $spacing-lg $spacing-xl;
    margin-left: -1rem;
    position: relative;
    min-width: 220px;
    // max-width: 600px;
    @include respond-to(md) {
      padding: $spacing-xl $spacing-xxl;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: -1.5rem;
    //   top: 2rem;
    //   width: 1rem;
    //   height: 1rem;
    //   background: $secondary-color;
    //   border-radius: 50%;
    //   border: 2px solid $white;
    //   box-shadow: 0 0 0 2px $secondary-color;
    // }
  }

  &__role {
    font-weight: 700;
    font-size: 1.2rem;
    color: $primary-color;
    margin-bottom: $spacing-xs;
  }
  &__company {
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: $spacing-xs;
  }
  &__duration {
    font-size: $font-size-sm;
    color: $dark-gray;
    margin-bottom: $spacing-sm;
  }
  &__desc {
    color: $text-color;
    font-size: $font-size-base;
  }
}
